<?xml version="1.0" encoding="UTF-8"?>
<BillingParameters>
	 <FHR>张忠芳</FHR>
 	 <XSFMC>上海仟果企业管理有限公司</XSFMC>
 	 <KPR>叶峰</KPR>
 	 <SKR>石艳婷</SKR>
 	 <NSRSBH>913101107847712408</NSRSBH>
 	 <XSFDHDZ>上海市黄浦区北京东路157号、021-65463878</XSFDHDZ>
 	 <XSFYHZH>招商银行上海大木桥支行、121909984010301</XSFYHZH>
 	 
</BillingParameters>